<div>
  <% if municipality.csv.attached? -%>
    <%= link_to municipality.csv.filename, municipality.csv %>
    |
  <% end -%>
  <%= link_to 'Upload Budget CSV', edit_admin_municipality_path(municipality) %>
</div>
<div class="list-chart">
  <fieldset>

    <legend><%= municipality&.departments&.first&.latest_budget&.year %> Budget</legend>
    <span>Total: <%= currency municipality.amount %></span>
    <ul>
      <% municipality.departments.each do |department| -%>
        <li>
          <%= link_to department.name, department %> : <%= currency department.amount %>
        </li>
      <% end %>
    </ul>
  </fieldset>
</div>
