<% if user_signed_in? -%>
  <div>
    Status: <%= municipality.status.upcase %>
    <% unless municipality.live? -%>
      <%= button_to 'Activate Budget', activate_admin_municipality_path(municipality), method: :patch %>
    <% end -%>
  </div>
  <div>
    <% if municipality.csv.attached? -%>
      <%= link_to municipality.csv.filename, municipality.csv %>
      |
    <% end -%>
    <%= link_to 'Upload Budget CSV', edit_admin_municipality_path(municipality) %>
  </div>
<% end -%>
<% if @ordered_departments.any? && (user_signed_in? || municipality.live?) -%>
  <div class="pie-chart">
    <fieldset>

      <legend><%= @ordered_departments.first[:year] %> Budget</legend>
      <span>Total: <%= currency municipality.amount %></span>
      <ul>
        <% @ordered_departments.each do |department| -%>
          <li>
            <%= link_to department.name, department %>:
            <%= currency department[:amount] %>   |
            <%= percentage department[:amount], municipality.amount %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </div>
  <!--  <div class="list-chart">-->
  <!--    <fieldset>-->

  <!--      <legend><%#= @ordered_departments.first[:year] %> Budget</legend>-->
  <!--      <span>Total: <%#= currency municipality.amount %></span>-->
  <!--      <table>-->
  <%# @ordered_departments.each do |department| -%>
  <!--          <tr>-->
  <!--            <td><%#= link_to department.name, department %></td>-->
  <!--            <td><%#= currency department[:amount] %></td>-->
  <!--          </tr>-->
  <%# end %>
  <!--      </table>-->
  <!--    </fieldset>-->
  <!--  </div>-->
<% end -%>